In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('DataLab5_B_MIE304_OLDStyle.csv')

In [3]:
df.head()

   Sample Number  Thickness  Unnamed: 2  Batch  Concentration
0              1     0.0629         NaN    1.0           96.4
1              1     0.0636         NaN    1.0           97.3
2              1     0.0640         NaN    1.0           94.1
3              2     0.0630         NaN    1.0           95.2
4              2     0.0631         NaN    1.0           96.3

In [4]:
df=df[['Sample Number','Thickness']]
df.head()

   Sample Number  Thickness
0              1     0.0629
1              1     0.0636
2              1     0.0640
3              2     0.0630
4              2     0.0631

In [5]:
# find all unique sample numbers

df['Sample Number'].unique()
list_of_units=[]
list_of_samples=[]
for sample_number in df['Sample Number'].unique():
    units = list(df.loc[df['Sample Number'] == sample_number, 'Thickness'].values)
    list_of_units.append(units)
    list_of_samples.append(sample_number)

In [6]:
df=pd.DataFrame({
'samle':list_of_samples,
'thickness':list_of_units
}).thickness.apply(pd.Series)

In [7]:
df.to_csv('DataLab5_B_MIE304.csv')